@import "/css/StyleToImport.less";

      body {
        min-width: 600px;
        min-height: 500px;
        overflow-x: hidden;
        font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        font-weight: normal;
      }

      .container {
                background-color: #DCDADA;

      }

      .category-stack {
                background-color: #fff;

      }
		
      
